[data-theme='theme_light'] .modal {
	--modal-border-color: var(--bs-gray-300);
	--modal-bg: var(--bs-white);
	--modal-header-color: var(--bs-gray-600);
}

[data-theme='theme_dark'] .modal {
	--modal-border-color: #32383e;
	--modal-bg: var(--bs-gray-900);
	--modal-header-color: var(--body-color);
}

.modal {
	--modal-shadow: var(--bs-box-shadow);
	--modal-max-width: 100%;
	--modal-min-width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0 0.5rem;
	z-index: 1031;
	color: var(--body-color);

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#000000, 0.5);
		z-index: -1;
	}

	&[class*='modal-enter-done'].modal-static &-dialog {
		transform: scale(1.01);
	}

	&-dialog {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		max-width: var(--modal-max-width);
		min-width: var(--modal-min-width);
		max-height: 90vh;
		margin: 1.5rem auto auto auto;
		background-color: var(--modal-bg);
		border-radius: 0.25rem;
		border: 1px solid var(--modal-border-color);
		opacity: 0;
		transition: 0.2s ease-in-out;
		box-shadow: var(--modal-shadow);
	}

	&[class*='modal-exit'] &-dialog,
	&[class*='modal-enter'] &-dialog {
		opacity: 0;
		transform: translate3d(0, -50px, 0);
	}

	&[class*='modal-exit-enter'] &-dialog,
	&[class*='modal-enter-done'] &-dialog {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	&-header,
	&-body,
	&-footer {
		position: relative;
	}

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 1;
	}

	&-header,
	&-footer {
		padding: var(--spacing-md) var(--spacing-lg) var(--spacing-sm);
	}

	&-body {
		font-size: var(--theme-text-sm);
		padding: var(--spacing-md) var(--spacing-lg);
		z-index: 2;

		&--sm {
			padding: var(--spacing-sm) var(--spacing-md);
		}
	}

	&-header + form > &-body,
	&-header + &-body {
		border-top: 1px solid var(--modal-border-color);
	}

	&-header__title {
		font-size: var(--theme-text-md);
		color: var(--modal-header-color);
		font-weight: 600;
		margin-bottom: 0;
	}

	&-footer {
		padding-top: 0.625rem;
		border-top: 1px solid var(--modal-border-color);
		z-index: 1;
		&.disabled {
			opacity: 0.75;
			pointer-events: none;
			user-select: none;
		}
	}

	&-btn--close {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 2rem;
		height: 2rem;
		color: var(--bs-gray-500);
		cursor: pointer;
		transition: color 300ms ease-in-out;

		&:hover {
			color: var(--bs-gray-700);
		}
	}
}

@media (min-width: 64em) {
	.modal {
		padding: 0 1.5rem;
	}
}

@media (min-width: 64em) {
	.modal {
		&.modal--sm {
			--modal-max-width: 500px;
			--modal-min-width: 500px;
		}

		&.modal--md {
			--modal-max-width: 800px;
			--modal-min-width: 800px;
		}

		&.modal--lg {
			--modal-max-width: 1140px;
			--modal-min-width: 1140px;
		}
	}
}
