[data-theme='theme_light'] .dropdown {
	--dropdown-header-bg: var(--bs-gray-100);

	--text-name-color: var(--bs-gray-800);
	--text-email-color: var(--bs-gray-700);
	--divider-bg: var(--bs-gray-300);

	--dropdown-list-bg: var(--bs-white);
	--dropdown-list-border: transparent;

	--dropdown-item-bg: var(--bs-white);
	--dropdown-item-bg-active: var(--bs-gray-100);
	--dropdown-item-color: var(--bs-body-color);
	--dropdown-item-color-active: var(--bs-gray-900);
}

[data-theme='theme_dark'] .dropdown {
	--dropdown-header-bg: transparent;

	--text-name-color: #e9ecef;
	--text-email-color: var(--bs-gray-600);
	--divider-bg: #32383e;

	--dropdown-list-bg: var(--bs-gray-900);
	--dropdown-list-border: #32383e;

	--dropdown-item-bg: var(--bs-gray-900);
	--dropdown-item-bg-active: #2f343a;
	--dropdown-item-color: #adb5bd;
	--dropdown-item-color-active: #b9bfc4;
}

.dropdown {
	--dropdown-w-header: auto;
	--dropdown-border: transparent;
	--dropdown-border-active: transparent;

	position: relative;
	border: none;
	&__header {
		display: inline-block;
		padding: 0.75rem 1rem;
		background-color: var(--dropdown-header-bg);
		transition: none;

		> * {
			flex-shrink: 0;
		}

		.avatar {
			img {
				border-radius: 50%;
				max-width: 100%;
				object-fit: cover;
				height: 2rem;
				width: 2rem;
			}
		}

		.profile {
			display: flex;
			flex-flow: column nowrap;
			padding-left: var(--spacing-md);
		}

		.name,
		.email {
			display: none;
		}

		.name {
			font-size: var(--theme-text-xs);
			font-weight: 600;
			color: var(--text-name-color);
			margin: 0;
		}

		.email {
			font-size: var(--spacing-md);
			color: var(--text-email-color);
		}
	}

	&__list {
		position: absolute;
		right: 0;
		width: 100%;
		min-width: min-content;
		padding: 0;
		border-radius: 0.25rem;
		box-shadow: 0 5px 10px rgb(30 32 37 / 12%);
		overflow: hidden;

		> ul {
			padding: var(--spacing-sm) 0;

			> li {
				padding: 0;
			}

			> li > span,
			> li > a {
				display: flex;
				align-items: center;
				gap: 0.25rem;
				padding: 0.25rem 1.25rem;
				color: currentColor;
				transition: var(--transition-color);
			}
		}
	}
}

@media (min-width: 64em) {
	.dropdown {
		&__header {
			display: inline-flex;
			min-width: 180px;
			text-overflow: ellipsis;
			.name,
			.email {
				display: inline-block;
			}
		}
	}
}
