.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table-wrapper {
	height: 100%;
	overflow: hidden auto;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid var(--table-border-color);
}
.table-grid {
	overflow: auto;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;

	.table thead {
		position: sticky;
		top: 0;
		z-index: 1;
		background-color: var(--bs-white);
		box-shadow: 0 1px 0 0 #e5e7eb;
		margin-top: -1px;
	}
}

.table {
	color: var(--table-text-color);
	width: 100%;
	border-color: var(--table-border-color);
	border-collapse: collapse;
	caption-side: bottom;
	height: 1px;

	tbody,
	td,
	tfoot,
	th,
	thead,
	tr {
		border-color: inherit;
		border-style: solid;
		border-width: 0;
		vertical-align: middle;
	}

	th {
		font-weight: 600;
		height: 1px;
		padding: var(--table-header-padding);
	}

	td {
		height: inherit;
		font-weight: 500;
	}

	> :not(caption) > * > * {
		border-bottom-width: 1px;
	}

	th,
	td,
	td input {
		font-size: var(--theme-text-xs);
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	td,
	td input {
		padding: var(--table-padding);
	}

	tbody {
		vertical-align: middle;
	}

	&-hover > tbody > tr:hover > td {
		background-color: var(--table-bg-hover);
	}

	&-border {
		border-width: 1px;
		border-style: solid;

		td {
			border: 1px solid var(--table-border-color);
		}
	}

	&-nowrap {
		td,
		th {
			white-space: nowrap;
		}
	}

	&-striped-columns {
		> thead {
			tr > th:nth-child(2n + 1) {
				background-color: var(--table-striped-bg);
				transition: none;
			}

			> tr > th:nth-child(2n) {
				background-color: var(--table-bg);
				transition: none;
			}
		}
	}

	& > :not(:first-child) {
		border-top-width: 1px;
	}

	&-fixed {
		table-layout: fixed;
	}

	&-auto {
		table-layout: auto;
	}

	&-edit-content {
		td {
			padding: 0;
		}

		td input {
			width: 100%;
			outline: none;
			border: 1px solid transparent;
			background-color: transparent;
			transition: var(--transition-color);

			&:hover {
				border-color: var(--bs-info);
			}
		}
	}

	td > [class*='dropdown'] {
		height: 100%;
	}
}

.tbody-empty {
	> tr > td {
		padding: 0.5rem;
	}
}
