[data-theme='theme_light'] .quill {
	--ql-border: var(--bs-gray-300);
	--ql-bg: var(--bs-white);
}

[data-theme='theme_dark'] .quill {
	--ql-border: #2a2f34;
	--ql-bg: #212529;
}

.quill {
	border: 1px solid var(--ql-border);
	border-radius: var(--spacing-xs);
	overflow: hidden;
}

.quill .ql-container {
	border-bottom-left-radius: var(--spacing-xs);
	border-bottom-right-radius: var(--spacing-xs);
	background: var(--ql-bg);
}

.quill .ql-toolbar.ql-snow,
.quill .ql-container.ql-snow {
	border-color: transparent;
}

.quill .ql-toolbar.ql-snow {
	border-bottom: 1px solid;
	border-bottom-color: var(--ql-border);
	background-color: var(--ql-bg);
	z-index: 2;
}

.ql-snow.ql-toolbar {
	display: block;
	background: var(--ql-bg);
}

.ql-bubble .ql-editor {
	border: 1px solid vaR(--ql-border);
	border-radius: var(--spacing-xs);
}

.ql-editor {
	min-height: 18em;
	max-height: 50vh;
}

.themeSwitcher {
	margin-top: var(--spacing-xs);
	font-size: small;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
	border-color: var(--ql-border);
	color: var(--body-color);
	background-color: var(--ql-bg);
}

.ql-toolbar.ql-snow .ql-formats,
.ql-snow .ql-picker {
	color: var(--body-color);
}
