@use './theme/index';

@use 'components/card';
@use 'components/dropdown';
@use 'components/form';
@use 'components/scrollbar';
@use 'components/breadcrumb';

@use './utilities/separation';
@use './utilities/tree';
@use './utilities/typography';
@use './utilities/zIndex';

@use './vendors/react-date-picker';

:root {
	--sidebar-width: 250px;
	--select-min-width: 100px;
	--select-min-height: 32px;
}

html {
	line-height: 1.5;
}

body {
	overflow: hidden;
	font-weight: 500;
}

#portal-dropdown {
	z-index: 1032;
	position: relative;
}
#portal-modal {
	z-index: 1031;
	position: relative;
}

[data-theme='theme_light'] {
	--body-color: var(--bs-gray-900);
	--heading-color: var(--bs-gray-700);

	--breadcrumb-bg: var(--bs-white);
	--breadcrumb-item-color: var(--bs-gray-700);
	--breadcrumb-item-color-active: var(--bs-gray-600);
}

[data-theme='theme_dark'] {
	--body-color: var(--bs-gray-400);
	--heading-color: var(--bs-gray-400);
	--breadcrumb-bg: var(--bs-gray-900);
	--breadcrumb-item-color: var(--bs-gray-600);
	--breadcrumb-item-color-active: var(--bs-gray-500);
}
