.breadcrumb {
	display: block;
	&__list {
		display: flex;
		align-items: baseline;
		flex-shrink: 0;

		> li > *,
		> li > a {
			display: inline-block;
			height: 100%;
			font-size: var(--theme-text-xs);
			font-weight: 500;
			text-transform: uppercase;
			color: var(--bs-gray-700);
			&[class*='active'] {
				color: var(--bs-gray-600);
			}
		}
		> li + li > *,
		> li + li > a {
			padding-left: var(--spacing-sm);
			display: grid;
			grid-template-columns: 0 1fr;
			grid-gap: 1rem;
			align-items: baseline;

			&::before {
				content: '>';
				display: inline;
				vertical-align: middle;
				font-size: var(--theme-text-md);
			}
		}
	}
}
