[data-theme='theme_light'] .sidebar {
	--sidebar-bg: var(--bs-primary);
	--sidebar-item-color: #abb9e8;
	--sidebar-item-color-active: var(--bs-white);
}

[data-theme='theme_dark'] .sidebar {
	--sidebar-bg: var(--bs-gray-900);
	--sidebar-item-color: #7c7f90;
	--sidebar-item-color-active: var(--bs-white);
}

body[data-sidebar='active'] .sidebar {
	transform: translateX(0);
}

.sidebar {
	--sidebar-header-height: 65px;

	position: fixed;
	top: 102px;
	left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	width: 250px;
	height: calc(100vh - var(--sidebar-header-height));
	background-color: var(--sidebar-bg);
	transform: translateX(-250px);
	transition: transform 0.25s ease;
	z-index: 10;

	&__header {
		display: none;
		height: var(--sidebar-header-height);
	}

	&__main {
		visibility: visible;
		overflow: hidden;
	}

	.nav-item,
	.nav-item__group {
		display: flex;
		flex-flow: column nowrap;
	}

	.nav-item__group.show {
		> .item-title {
			color: var(--sidebar-item-color-active);
			.icon > svg {
				transform: rotate(0);
			}
		}
	}

	.nav-item__group .nav-item__list {
		padding-left: var(--spacing-lg);
		transition: 0.35s ease-in-out;
		overflow: hidden;

		&,
		&[class*='collapse-exit-done'] {
			height: 0;
		}

		&[class*='collapse-appear-done'],
		&[class*='collapse-enter-done'] {
			height: var(--height);
		}
	}

	.item-title,
	.item {
		display: flex;
		align-items: center;
		grid-gap: var(--spacing-sm);
		padding: var(--spacing-md) var(--spacing-md);
		font-size: var(--theme-text-sm);
		color: var(--sidebar-item-color);
		white-space: normal;
		text-overflow: ellipsis;
		transition: var(--transition-color);
		position: relative;
		cursor: pointer;

		> i {
			flex-shrink: 0;
		}

		> span {
			flex-grow: 1;
		}

		svg {
			font-size: 1.5em;
			color: inherit;
		}

		.icon {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: var(--spacing-lg);

			> svg {
				font-size: 1.5em;
				transform-origin: 50% 50%;
				transform: rotate(-0.25turn);
				transition: var(--transition-transform);
			}
		}

		&:hover,
		&[class*='active'],
		&[aria-current='page'] {
			color: var(--sidebar-item-color-active);
		}

		&[class*='active'],
		&[aria-current='page'] {
			.icon > svg {
				transform: rotate(-90deg);
			}
		}
	}
}

@media (min-width: 64em) {
	body[data-sidebar='inactive'] .sidebar {
		transform: translateX(-250px);
	}

	.sidebar {
		position: absolute;
		left: 0;
		top: 0;
		height: 100vh;
		transform: translateX(0);

		&__header {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
