[data-theme='theme_light'] .admin {
	--admin-bg: var(--bs-gray-100);
}

[data-theme='theme_dark'] .admin {
	--admin-bg: #1a1d21;
}

.admin {
	--header-height: 103px;
	display: grid;
	grid-template-columns: 0 1fr;
	grid-gap: 0;
	height: 100vh;
	max-height: 100vh;
	position: relative;
	background-color: var(--admin-bg);
	transition: grid 0.25s ease;

	&-sidebar,
	&-main {
		position: relative;
	}

	&-sidebar {
		z-index: 10;
	}
	&-main {
		z-index: 1;
	}

	&-wrapper {
		position: relative;
		padding: calc(var(--header-height) + 1.25rem) 0.75rem 1.5rem;
		max-height: 100vh;
		height: 100vh;
		overflow: hidden;
		overflow-y: auto;
	}
}

@media (min-width: 64em) {
	.admin {
		--header-height: 110px;
		grid-template-columns: var(--sidebar-width) 1fr;
	}

	body[data-sidebar='close'] {
		--sidebar-width: 0;
	}
}
