.td-select {
	height: 100%;
	position: relative;
	border: 1px solid transparent;
	transition: var(--transition-color);

	&.focus {
		border-color: var(--dropdown-border-active);
	}

	input.invalid {
		border-color: var(--bs-danger);
	}

	&__header {
		height: 100%;
		display: flex;
		justify-content: space-between;
		gap: var(--spacing-xs);
		padding: var(--table-padding);
		font-size: var(--theme-text-xs);
	}

	&__list {
		position: absolute;

		> ul {
			min-width: min-content;
			background: var(--dropdown-list-bg);
			border: 1px solid var(--dropdown-list-border);
			border-radius: var(--spacing-xxs);
			margin-top: 2px;
			box-shadow: var(--bs-box-shadow-sm);
		}

		> ul > li {
			display: block;
			width: 100%;
			line-height: 1.5;
			padding: var(--spacing-xxs) var(--spacing-sm);
			font-size: var(--theme-text-xs);
			color: var(--dropdown-item-color);
			background-color: var(--dropdown-item-bg);
			transition: var(--transition-color);

			&[class*='active'],
			&:hover {
				background-color: var(--dropdown-item-bg-active);
				color: var(--dropdown-item-color-active);
			}
		}
	}
}
