.td-select {
	height: 100%;
	position: relative;
	border: 1px solid transparent;
	transition: var(--transition-colors);

	&.focus {
		border-color: var(--bs-gray-400);
	}

	input.invalid {
		border-color: var(--bs-danger);
	}

	&__header {
		height: 100%;
		display: flex;
		justify-content: space-between;
		gap: var(--spacing-xs);
		padding: var(--table-padding);
		font-size: var(--theme-text-xs);
	}

	&__list {
		position: absolute;

		> ul {
			border: 1px solid var(--bs-gray-400);
			border-radius: var(--spacing-xxs);
			margin-top: 2px;
			box-shadow: var(--bs-box-shadow-sm);
		}

		> ul > li {
			display: block;
			width: 100%;
			line-height: 1.5;
			padding: var(--spacing-xxs) var(--spacing-sm);
			font-size: var(--theme-text-xs);
			color: var(--bs-gray-900);
			background-color: var(--bs-white);
			transition: var(--transition-color);
			cursor: pointer;

			&:hover {
				background-color: var(--bs-primary);
				color: var(--bs-white);
			}
		}
	}
}
