.field-debounce {
	--icon-width: 2rem;
	position: relative;
	font-size: var(--theme-text-xs);
	&__icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: var(--icon-width);
		height: var(--icon-width);
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		color: var(--bs-gray-600);
	}
	input {
		position: relative;
		min-height: var(--select-min-height);
		padding: var(--spacing-xs) var(--spacing-md) var(--spacing-xs) var(--icon-width);
		line-height: var(--leading-heading);
		color: var(--select-color);
		border: 1px solid var(--bs-gray-400);
		border-radius: var(--spacing-xxs);
		transition: var(--transition-color);
		&:focus {
			border-color: var(--bs-primary);
		}
	}
}
