[data-theme='theme_light'] .form-group {
	--input-bg: var(--bs-gray-100);
	--input-text-color: var(--bs-gray-900);
	--input-text-invalid: #f06548;
	--input-border: var(--bs-gray-300);
	--input-border-invalid: #f06548;
	--input-border-focus: #a0a8c4;
	--input-disabled-bg: #eff2f7;
	--label-color: var(--bs-gray-700);
	--label-color-active: var(--bs-primary);
	--password-icon-color: var(--bs-gray-600);
	--password-icon-color-active: var(--bs-gray-900);
}

[data-theme='theme_dark'] .form-group {
	--input-bg: #262a2f;
	--input-border: #2a2f34;
	--input-text-color: var(--bs-gray-400);
	--input-border-invalid: #f06548;
	--input-text-invalid: #f06548;
	--input-border-focus: var(--bs-primary);
	--input-disabled-bg: #2a2d31;
	--label-color: #878a99;
	--label-color-active: var(--bs-gray-400);
	--password-icon-color: var(--bs-gray-600);
	--password-icon-color-active: var(--bs-gray-600);
}

.form-group {
	--input-transition: cubic-bezier(0.4, 0, 0.2, 1);
	width: 100%;
	position: relative;

	.form-control {
		display: block;
		width: 100%;
		height: 44px;
		padding: 1rem 1rem 0.25rem 1rem;
		position: relative;
		appearance: none;
		border: 1px solid var(--input-border);
		color: var(--input-text-color);
		border-radius: 0.25rem;
		background-clip: padding-box;
		background-color: var(--input-bg);
		transition: color 0.25s var(--input-transition);

		&::-webkit-file-upload-button {
			display: none;
		}
		&[type='file'] {
			padding-top: 1.125rem;
		}

		&,
		&::placeholder {
			font-size: var(--theme-text-xs);
			font-weight: 400;
		}

		&:focus {
			border-color: var(--input-border-focus);
			outline: 0;
		}
		> input[hidden] ~ .form-label,
		&:focus ~ label.form-label,
		&:not(:placeholder-shown) ~ label.form-label {
			color: var(--label-color-active);
			transform: translateY(calc(-100% - 0.125rem)) scale(0.975);
		}

		> input ~ .form-label,
		&:focus + label {
			color: var(--label-color-active);
		}

		&[readOnly],
		&[disabled] {
			background-color: var(--input-disabled-bg);
		}

		&.invalid {
			--input-border: #f06548;
		}
	}

	.form-control.textarea {
		height: auto;
		padding-top: 1.75rem;

		& ~ .form-label {
			top: 2rem;
		}
	}

	.form-label {
		display: inline-block;
		position: absolute;
		top: calc(50% + 0.125rem);
		left: 1rem;
		color: var(--bs-gray-700);
		font-size: var(--theme-text-xs);
		font-weight: 400;
		text-align: left;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		cursor: text;
		pointer-events: none;
		user-select: none;
		transform-origin: left top;
		transform: translateY(-50%);
		will-change: transform;
		transition:
			transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
			color 150ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	[class*='invalid-message'],
	.form_helper {
		position: absolute;
		left: 0.25rem;
		bottom: -1.25rem;
		font-size: 0.75rem;
		font-weight: 400;
		color: var(--input-text-invalid);
	}

	&.form-password {
		.form-control {
			padding-right: 2rem;
		}

		.form-control[type='text'] ~ button {
			color: var(--password-icon-color-active);
		}

		button {
			height: 100%;
			width: 2rem;
			position: absolute;
			right: 0;
			top: 50%;
			z-index: 2;
			padding-top: var(--spacing-sm);
			color: var(--password-icon-color);
			transform: translateY(-50%);
			transition: var(--transition-default);
		}
	}

	&.multi-select .form-control {
		display: flex;
		flex-flow: row wrap;
		gap: 4px;
		min-height: 44px;
		height: auto;
		padding: 1.25rem 1rem 0.25rem 1rem;
	}

	&.multi-select .form-label {
		top: 1.375rem;
	}
}

.choices-item {
	display: inline-flex;
	vertical-align: initial;
	padding: var(--spacing-xxs) var(--spacing-xs);
	font-size: 10px;
	font-weight: 400;
	padding: 2px 2px 4px 8px;
	background-color: var(--bs-primary);
	border: 1px solid var(--bs-primary);
	word-break: break-all;
	color: #fff;
	box-shadow: none;
	border-radius: var(--spacing-xs);
	line-height: 1.2;

	button {
		font-size: 0;
		position: relative;
		display: inline-block;
		margin-left: 8px;
		padding-left: 16px;
		border-left: 1px solid rgba(255, 255, 255, 0.5);
		background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==')
			no-repeat center/6px;
		width: 6px;
		opacity: 0.75;
		transition: var(--transition-color);

		&:hover {
			opacity: 1;
		}
	}
}

[data-theme='theme_light'] .dropdown {
	--dropdown-bg: var(--bs-white);
	--dropdown-item-bg: var(--bs-white);
	--dropdown-item-bg-active: var(--bs-primary);
	--dropdown-item-color: var(--bs-gray-900);
	--dropdown-item-color-active: var(--bs-white);
	--dropdown-border-color: transparent;
}

[data-theme='theme_dark'] .dropdown {
	--dropdown-bg: #292e33;
	--dropdown-item-bg: transparent;
	--dropdown-item-bg-active: #2f343a;
	--dropdown-item-color: #adb5bd;
	--dropdown-item-color-active: #b9bfc4;
	--dropdown-border-color: #32383e;
}

.dropdown {
	position: relative;

	&.dropdown-multi &__list {
		min-height: unset;
	}

	&__list {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: auto;
		padding: var(--spacing-xs) 0;
		min-height: 60px;
		max-height: 106px;
		background-color: var(--dropdown-bg);
		box-shadow: var(--bs-box-shadow);
		border-radius: 0 0 var(--spacing-xs) var(--spacing-xs);
		border: 1px solid var(--dropdown-border-color);

		> * {
			font-size: var(--theme-text-xs);
			padding: var(--spacing-xs) var(--spacing-md);
			text-transform: capitalize;
			color: var(--dropdown-item-color);
			background-color: var(--dropdown-item-bg);
			transition: var(--transition-color);

			&:hover,
			&.item-active {
				background-color: var(--dropdown-item-bg-active);
				color: var(--dropdown-item-color-active);
			}

			&[disabled],
			&.item-disabled {
				opacity: 0.75;
				pointer-events: none;
				user-select: none;
				font-style: italic;
			}
		}
	}
}
