[data-theme='theme_light'] [class*='table'],
[data-theme='theme_light'] table {
	--table-bg: var(--bs-white);
	--table-bg-hover: var(--bs-gray-100);
	--table-border-color: var(--bs-gray-300);
	--table-header-padding: 0.75rem 0.5rem;
	--table-padding: 0.5rem 0.5rem;
	--table-striped-bg: #eef1f4;
	--table-text-color: var(--bs-gray-900);

	--table-td-bg: var(--bs-white);
	--table-td-striped-bg: var(--bs-white);
	--table-thead-box-shadow: 0 1px 0 0 #e5e7eb;
}

[data-theme='theme_dark'] [class*='table'],
[data-theme='theme_dark'] table {
	--table-bg: #282b2e;
	--table-bg-hover: rgba(206, 212, 218, 0.04);
	--table-border-color: #32383e;
	--table-header-padding: 0.75rem 0.5rem;
	--table-padding: 0.5rem 0.5rem;
	--table-striped-bg: rgba(206, 212, 218, 0.02);
	--table-text-color: var(--body-color);
	--table-td-bg: #282b2e;
	--table-td-striped-bg: rgba(206, 212, 218, 0.02);
	--table-thead-box-shadow: 0 1px 0 0 #32383e;
}

.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table-wrapper {
	height: 100%;
	overflow: hidden auto;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid var(--table-border-color);
}

.table-grid {
	overflow: auto;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;

	.table thead {
		position: sticky;
		top: 0;
		z-index: 1;
		background-color: var(--table-bg);
		box-shadow: var(--table-thead-box-shadow);
		margin-top: -1px;
	}
}

.table {
	color: var(--table-text-color);
	width: 100%;
	border-color: var(--table-border-color);
	border-collapse: collapse;
	caption-side: bottom;
	height: 1px;

	tbody,
	td,
	tfoot,
	th,
	thead,
	tr {
		border-color: inherit;
		border-style: solid;
		border-width: 0;
		vertical-align: middle;
	}

	th {
		font-weight: 600;
		height: 1px;
		padding: var(--table-header-padding);
	}

	td {
		height: inherit;
		font-weight: 500;
	}

	> :not(caption) > * > * {
		border-bottom-width: 1px;
	}

	th,
	td,
	td input {
		font-size: var(--theme-text-xs);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	td,
	td input {
		padding: var(--table-padding);
	}

	tbody {
		vertical-align: middle;
	}

	&-hover > tbody > tbody > tr:hover > td {
		background-color: var(--table-bg-hover);
	}

	&-border {
		border-width: 1px;
		border-style: solid;

		td {
			border: 1px solid var(--table-border-color);
		}
	}

	&-nowrap {
		td,
		th {
			white-space: nowrap;
		}
	}

	&-striped-columns {
		> thead {
			tr > th:nth-child(2n + 1) {
				background-color: var(--table-striped-bg);
			}

			> tr > th:nth-child(2n) {
				background-color: var(--table-bg);
			}
		}

		> tbody {
			> tr > td:nth-child(2n + 1) {
				background-color: var(--table-td-striped-bg);
			}

			> tr > td:nth-child(2n) {
				background-color: var(--table-td-bg);
			}
		}

		&[class*='_table-hover'] {
			> tbody {
				> tr:hover > td:nth-child(2n),
				> tr:hover > td:nth-child(2n + 1) {
					background-color: var(--table-bg-hover);
				}
			}
		}
	}

	& > :not(:first-child) {
		border-top-width: 1px;
	}

	&-fixed {
		table-layout: fixed;
	}

	&-auto {
		table-layout: auto;
	}

	&-edit-content {
		td {
			padding: 0;
		}

		td input {
			width: 100%;
			outline: none;
			border: 1px solid transparent;
			background-color: transparent;
			color: var(--body-color);
			transition: var(--transition-color);

			&:hover {
				border-color: var(--bs-info);
			}
		}
	}

	td > [class*='dropdown'] {
		height: 100%;
	}
}

.tbody-empty {
	> tr > td {
		padding: 0.5rem;
	}
}
