@use './variables' as var;

@each $key in var.$sizes {
	.text-size-#{$key} {
		font-size: var(--theme-text-#{$key});
	}
}

@each $key in var.$zIndexes {
	.z-index-#{$key} {
		z-index: $key;
	}
}

.no-wrap-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
