.Wrapper {
	list-style: none;
	box-sizing: border-box;
	padding-left: var(--spacing);
	margin-bottom: -1px;

	&[data-display='hidden'] {
		opacity: 0.65;
	}

	&.clone {
		display: inline-block;
		pointer-events: none;
		padding: 0;
		padding-left: var(--spacing-sm);
		padding-top: var(--spacing-xs);

		.TreeItem {
			--vertical-padding: var(--spacing-xs);

			padding-right: 24px;
			border-radius: var(--spacing-xs);
			box-shadow: 0px 15px 15px 0 rgba(34, 33, 81, 0.1);
		}
	}

	&.ghost {
		&.indicator {
			opacity: 1;
			position: relative;
			z-index: 1;
			margin-bottom: -1px;

			.TreeItem {
				position: relative;
				padding: 0;
				height: 8px;
				border-color: #2389ff;
				background-color: #56a1f8;

				&:before {
					position: absolute;
					left: -8px;
					top: -4px;
					display: block;
					content: '';
					width: 12px;
					height: 12px;
					border-radius: 50%;
					border: 1px solid #2389ff;
					background-color: #ffffff;
				}

				> * {
					opacity: 0;
					height: 0;
				}
			}
		}

		&:not(.indicator) {
			opacity: 0.5;
		}

		.TreeItem > * {
			box-shadow: none;
			background-color: transparent;
		}
	}
}

[data-theme='theme_light'] .TreeItem {
	--tree-item-bg: var(--bs-white);
	--tree-item-color: var(--bs-gray-900);
	--tree-item-border-color: var(--bs-gray-400);
}

[data-theme='theme_dark'] .TreeItem {
	--tree-item-bg: rgba(64, 81, 137, 0.05);
	--tree-item-color: #ced4da;
	--tree-item-border-color: rgba(64, 81, 137, 0.05);
}

.TreeItem {
	--vertical-padding: var(--spacing-sm);

	position: relative;
	display: flex;
	align-items: center;
	gap: var(--spacing-xs);
	padding: var(--vertical-padding);
	background-color: var(--tree-item-bg);
	border: 1px solid var(--tree-item-border-color);
	color: var(--tree-item-color);
	box-sizing: border-box;
}

.Text {
	flex-grow: 1;
	padding-left: var(--spacing-sm);
	font-size: var(--theme-text-sm);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.Count {
	position: absolute;
	top: -10px;
	right: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	line-height: 1;
	background-color: var(--theme-secondary);
	font-size: var(--theme-text-xs);
	font-weight: 500;
	color: #fff;
}

.disableInteraction {
	pointer-events: none;
}

.disableSelection,
.clone {
	.Text,
	.Count {
		user-select: none;
		-webkit-user-select: none;
	}
}

.Collapse {
	svg {
		transition: transform 250ms ease;
	}

	&.collapsed svg {
		transform: rotate(-90deg);
	}
}
