@use './components/card';
@use './components/dropdown';
@use './components/form';
@use './components/scrollbar';

@use './utilities/separation';
@use './utilities/tree';

@use './vendors/quill';
@use './vendors/react-date-picker';

:root {
	--sidebar-width: 250px;
	--select-min-width: 100px;
	--select-min-height: 32px;
}

html {
	line-height: 1.5;
}

body {
	overflow: hidden;
	font-weight: 500;
}

#portal-dropdown {
	z-index: 1032;
	position: relative;
}
#portal-modal {
	z-index: 1031;
	position: relative;
}
