[data-theme='theme_light'] .block {
	--card-background-color: var(--bs-white);
	--card-border-color: var(--bs-gray-300);
}
[data-theme='theme_dark'] .block {
	--card-background-color: var(--bs-gray-900);
}

.block {
	--card-spacing-x: var(--spacing-md);
	--card-spacing-y: var(--spacing-md);
	--card-box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);

	display: flex;
	flex-flow: column nowrap;
	background-color: var(--card-background-color);
	background-clip: border-box;
	word-wrap: break-word;
	border-radius: var(--spacing-xxs);

	box-shadow: var(--card-box-shadow);

	&-header {
		padding: var(--card-spacing-y) var(--card-spacing-x);
		border-bottom: 1px solid var(--card-border-color);
	}

	&-body {
		padding: var(--card-spacing-y) var(--card-spacing-x);
		flex: 1 1 auto;
	}
}
