[data-theme='theme_light'] {
	--scrollbar-thumb-bg: rgba(33, 37, 41, 0.15);
	--scrollbar-track-bg: rgba(33, 37, 41, 0.15);
}
[data-theme='theme_dark'] {
	--scrollbar-thumb-bg: rgba(206, 212, 218, 0.1);
	--scrollbar-track-bg: #282b2e;
}

.ql-editor,
.scrollbar {
	height: 100%;
	overflow: hidden auto;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	&::-webkit-scrollbar:vertical {
		width: 8px;
	}

	&::-webkit-scrollbar:horizontal {
		height: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 8px;
		background-color: var(--scrollbar-thumb-bg);
	}

	&::-webkit-scrollbar-track {
		border-radius: 8px;
		background-color: var(--scrollbar-track-bg);
	}

	&--sm {
		&::-webkit-scrollbar-track {
			border-radius: 4px;
		}

		&::-webkit-scrollbar:vertical {
			width: 4px;
		}

		&::-webkit-scrollbar:horizontal {
			height: 4px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 4px;
		}

		&::-webkit-scrollbar-track {
			border-radius: 4px;
		}
	}
}
