.td-input {
	input {
		width: 100%;
		outline: none;
		border: 1px solid transparent;
		background-color: transparent;
		transition: var(--transition-color);

		&.invalid {
			border-color: var(--bs-danger) !important;
		}

		&:hover {
			border-color: var(--bs-info);
		}
	}
}
