[data-theme='theme_light'] .container {
	--container-bg: var(--bs-white);
	--container-border-color: var(--bs-gray-300);
}

[data-theme='theme_dark'] .container {
	--container-bg: var(--bs-gray-900);
	--container-border-color: #32383e;
}

.container {
	border-radius: var(--spacing-xxs);
	background-color: var(--container-bg);
	box-shadow: var(--bs-box-shadow);
	max-width: 100%;

	&.transparent {
		background-color: transparent;
		box-shadow: none;
	}

	&.padding-none {
		padding-left: 0;
		padding-right: 0;
	}

	&-main,
	&-title {
		padding: var(--spacing-md);
		border-bottom: 1px solid var(--container-border-color);
	}

	&-title {
		color: var(--bs-gray-700);
		font-size: var(--theme-text-sm);
	}
}

.containerGrid {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 0;
	height: 100%;
	overflow: hidden;
}
