.theme-breadcrumb {
	--bs-breadcrumb-margin-bottom: 0;
	display: block;

	&__list {
		display: flex;
		align-items: baseline;
		flex-wrap: nowrap;

		> li > *,
		> li > a {
			display: block;
			font-size: var(--theme-text-xs);
			font-weight: 500;
			text-transform: capitalize;
			color: var(--breadcrumb-item-color);
			&[class*='active'] {
				color: var(--breadcrumb-item-color-active);
			}
		}
		> li + li > *,
		> li + li > a {
			padding-left: var(--spacing-sm);
			display: grid;
			grid-template-columns: 0 1fr;
			grid-gap: 1rem;
			align-items: baseline;

			&::before {
				content: '>';
				display: inline;
				vertical-align: middle;
				font-size: var(--theme-text-md);
			}
		}
	}
}
