[data-theme='theme_light'] .field-checkbox {
	--checkbox-bg: var(--bs-white);
	--checkbox-border-color: var(--bs-gray-500);
}

[data-theme='theme_dark'] .field-checkbox {
	--checkbox-bg: #262a2f;
	--checkbox-border-color: #32383e;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: #ffffff !important;
	transition: background-color 5000s ease-in-out 0s !important;
}

.field-checkbox {
	--checkbox-bg-active: var(--bs-primary);
	--checkbox-border-color-active: var(--bs-primary);

	display: grid;
	width: 100%;
	grid-template-columns: 16px 1fr;
	justify-items: flex-start;
	align-items: center;
	gap: var(--spacing-sm);

	&.none-label {
		grid-template-columns: 16px 0;
		grid-gap: 0;
		justify-content: center;
	}

	> span {
		line-height: 1;
		font-size: var(--theme-text-xs);
	}

	input {
		width: 0.9125rem;
		height: 0.9125rem;
		border: 1px solid var(--checkbox-border-color);

		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-color: var(--checkbox-bg);

		&:checked {
			background-color: var(--checkbox-bg-active);
			border-color: var(--checkbox-border-color-active);
		}

		&[type='checkbox'] {
			border-radius: var(--spacing-xxs);

			&:checked {
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
			}
		}

		&[type='radio'] {
			border-radius: 50%;
			background-image: none;

			&:checked {
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
			}
		}
	}
}
