.scrollbar {
	height: 100%;
	overflow: hidden auto;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	&::-webkit-scrollbar:vertical {
		width: 8px;
	}

	&::-webkit-scrollbar:horizontal {
		height: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(33, 37, 41, 0.15);
		border-radius: 8px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 8px;
	}

	&--sm {
		&::-webkit-scrollbar-track {
			border-radius: 4px;
		}

		&::-webkit-scrollbar:vertical {
			width: 4px;
		}

		&::-webkit-scrollbar:horizontal {
			height: 4px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 4px;
		}

		&::-webkit-scrollbar-track {
			border-radius: 4px;
		}
	}
}
