[data-theme='theme_light'] .tabs-nav {
	--nav-item-bg: var(--bs-white);
	--nav-item-bg-active: var(--bs-gray-300);
	--nav-item-bg-hover: var(--bs-gray-200);
	--nav-item-color: var(--bs-gray-700);
	--nav-item-color-active: var(--bs-gray-700);
	--nav-item-border-color: var(--bs-gray-300);
	--nav-item-transition: var(--transition-color);
}

[data-theme='theme_dark'] .tabs-nav {
	--nav-item-bg: transparent;
	--nav-item-bg-active: var(--bs-gray-300);
	--nav-item-bg-hover: var(--bs-gray-200);
	--nav-item-color: var(--bs-gray-700);
	--nav-item-color-active: var(--bs-gray-700);
	--nav-item-border-color: #32383e;
	--nav-item-transition: none;
}

.tabs-nav {
	width: 100%;
	border-bottom: 1px solid var(--nav-item-border-color);
	display: flex;
	flex-wrap: wrap;
	gap: 2px 0;
	margin-bottom: var(--spacing-sm);

	.nav-item {
		--nav-item-border-radius: var(--spacing-xs) var(--spacing-xs) 0 0;

		display: block;
		font-weight: 500;
		font-size: var(--theme-text-xs);
		color: var(--nav-item-color);
		line-height: 1.5;
		margin-bottom: -1px;
		padding: var(--spacing-sm) var(--spacing-md);
		border: 1px solid transparent;
		border-color: transparent transparent var(--nav-item-border-color) transparent;
		border-radius: var(--nav-item-border-radius);
		background-color: var(--nav-item-bg);
		transition: var(--nav-item-transition);

		& + & {
			margin-left: 1px;
		}

		&:hover {
			border-color: var(--nav-item-bg-hover);
		}

		&.active {
			color: var(--nav-item-color-active);
			background-color: var(--nav-item-bg-active);
			border-color: var(--nav-item-border-color) var(--nav-item-border-color) transparent var(--nav-item-border-color);
		}
	}
}

[data-theme='theme_light'] .tabs-nav__bordered {
	--nav-item-bg: var(--bs-white);
	--nav-item-bg-active: var(--bs-white);
	--nav-item-bg-hover: var(--bs-gray-300);
	--nav-item-color: var(--bs-gray-900);
	--nav-item-color-active: var(--bs-primary);
}

[data-theme='theme_dark'] .tabs-nav__bordered {
	--nav-item-bg: transparent;
	--nav-item-bg-active: transparent;
	--nav-item-bg-hover: var(--bs-gray-300);

	--nav-item-color: var(--bs-success);
	--nav-item-color-active: var(--bs-success);
}

.tabs-nav__bordered {
	.nav-item {
		position: relative;

		&:hover,
		&.active {
			color: var(--nav-item-color-active);
			border-color: transparent transparent var(--nav-item-border-color) transparent;
		}

		&::after {
			content: '';
			display: block;
			width: 0;
			height: 2px;
			background-color: currentColor;
			position: absolute;
			bottom: -1px;
			left: 50%;
			transform-origin: 50% 50%;
			transform: translateX(-50%);
			transition: 0.25s ease-in-out;
		}

		&.active::after {
			width: 100%;
		}
	}
}
