[data-theme='theme_light'] .header {
	--header-bg: var(--bs-white);
	--breadcrumb-border-color: var(--bs-gray-200);
}

[data-theme='theme_dark'] .header {
	--header-bg: #292e32;
	--breadcrumb-border-color: transparent;
}

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: var(--sidebar-width);
	z-index: 1030;
	background-color: var(--header-bg);

	transition: left 0.25s ease;

	&__wrapper {
		padding: 0 var(--spacing-md);
	}

	&[data-scroll='true'] {
		box-shadow: var(--theme-shadow-sm);
	}
}
